<p id="notice"><%= notice %></p>

<h1>Expensives</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Logdate</th>
      <th>Note</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expensives.each do |expensive| %>
      <tr>
        <td><%= expensive.amount %></td>
        <td><%= expensive.logdate %></td>
        <td><%= expensive.note %></td>
        <td><%= expensive.category %></td>
        <td><%= expensive.subcategory %></td>
        <td><%= link_to 'Show', expensive %></td>
        <td><%= link_to 'Edit', edit_expensife_path(expensive) %></td>
        <td><%= link_to 'Destroy', expensive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expensive', new_expensife_path %>
