<p id="notice"><%= notice %></p>

<h1>Expensives</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Logdate</th>
      <th>Note</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expensives.each do |expensife| %>
      <tr>
        <td><%= expensife.amount %></td>
        <td><%= expensife.logdate %></td>
        <td><%= expensife.note %></td>
        <td><%= expensife.category %></td>
        <td><%= expensife.subcategory %></td>
        <td><%= link_to 'Show', expensife %></td>
        <td><%= link_to 'Edit', edit_expensife_path(expensife) %></td>
        <td><%= link_to 'Destroy', expensife, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expensife', new_expensife_path %>
